{
  "ignore": [
    "assets/dist/",
    "node_modules/",
    "vendor/"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread"
  ],
  "presets": [
    "es2015",
    "es2016",
    "es2017"
  ]
}
