{% extends "base.twig" %}

{% block content %}

  <section class="padding-top-400 padding-bottom-400 padding-left-400-lg padding-right-400-lg">
    <div class="container">

      <h2>This is a title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut aliquet orci, at tincidunt sapien. Sed molestie purus justo, eget mattis sapien sodales ut. Etiam sit amet ullamcorper dolor, ac dignissim magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam ac mattis dolor, bibendum cursus quam. Proin quis ipsum erat. Nullam at sollicitudin elit, non ornare ante. Mauris rutrum eget quam id tincidunt. Proin ac bibendum felis. Curabitur ultrices ullamcorper nisi, sit amet convallis neque sagittis vitae. Cras a diam vel lectus egestas venenatis a sed turpis. Quisque molestie a justo sit amet pellentesque.</p>

    </div>
  </section>

{% endblock %}
