<div class="width-100 height-header hidden"></div>
<header role="banner"
        class="fixed index-100 top-0 left-0 width-100 height-header bg-black color-white">
  <div class="container height-100">

    <h1>Logo</h1>

  </div>
</header>
